<div class="contentCopy">

<h1>NATALIE WALKER - BIO</h1>


<div id="about-bio">

<p>Now based in Los Angeles, Natalie Walker has spent <b>over ten years</b> taking beautiful photos of actors, models, musicians and more.</p>

<p>She got her BA of Photography from Melbourne's RMIT - one of the Australia's most renowned photography degrees.</p>

<p>Natalie has also modelled in Australia, and overseas, and has appeared in over 40 television commercials, so she knows how important it is to feel comfortable in front of the camera. She's as good at putting people at ease in front of the camera, as she is at taking great photos.</p>

<p>After university, Natalie spent two years as the head photography assistant at White Pictures, one of Melbourne's leading commercial photography studios.</p>

<p>Since leaving the studio to work on her own, Natalie has shot fashion, advertising, editorial, portraiture, weddings and food.</p>

<p>Clients consistently comment on how natural and relaxed Natalie makes them feel, and on the exceptional quality of the finished product.</p>

</div>
<!--end about-bio-->

</div><!--end contentCopy-->

