<div id="innerContent" move-nav="wait">
<div id="hometiles">

    <div class="hometile left">
  <a ng-href="#/folio/headshots">
      <div class="hometile-img">
        <img src="images/hometile-headshots.jpg"/>
      </div>
      <div class="hometile-heading">
        Headshots
      </div>
  </a>
    </div>

    <div class="hometile right">
  <a ng-href="#/folio/events">
      <div class="hometile-img">
        <img src="images/hometile-events.jpg"/>
      </div>
      <div class="hometile-heading">
        Events
      </div>
  </a>
    </div>

    <div class="hometile left">
      <a ng-href="#/folio/kids_and_family">
      <div class="hometile-img">
        <img src="images/hometile-kids.jpg"/>
      </div>
      <div class="hometile-heading">
        Kids
      </div>
  </a>
    </div>

    <div class="hometile right">
      <a ng-href="#/folio/publicity">
      <div class="hometile-img">
        <img src="images/hometile-publicity.jpg"/>
      </div>
      <div class="hometile-heading">
        Publicity
      </div>
  </a>
    </div>


  <div class="clear"></div>

</div><!--end #hometiles-->
<div id="innerContent"><!--end #innerContent-->
