<div id="testimonials-container">
  <div class="testimonial-row">

    <div class="testimonial-image" id="testimonial-image-christine"><img src="<?=T_HOME_URL;?>images/testimonials-christine.jpg" id="about-christine"/></div>
    <div class="testimonial-copy" id="testimonial-copy-christine">
      <div class="testimonial-copy-inner">
        <span class="testimonials-quote">"You truly made me feel at ease"</span>
        <span class="testimonials-sign">- Christine Jones</span>
      </div><!--end testimonial-copy-inner-->
    </div>

    <div class="testimonial-image" id="testimonial-image-shawn"><img src="<?=T_HOME_URL;?>images/testimonials-shawn.jpg" id="about-christine"/></div>
    <div class="testimonial-copy" id="testimonial-copy-shawn">
      <div class="testimonial-copy-inner">
      <span class="testimonials-quote">"After shooting with Natlalie I noticed an increase in auditions"</span>
      <span class="testimonials-sign">- Shawn Savage<span>
      </div><!--end testimonial-copy-inner-->
    </div>

    <div class="testimonial-image" id="testimonial-image-emily"><img src="<?=T_HOME_URL;?>images/testimonials-emily.jpg" id="about-christine"/></div>
    <div class="testimonial-copy" id="testimonial-copy-emily">
      <div class="testimonial-copy-inner">
      <span class="testimonials-quote">"You're awesome"</span>
      <span class="testimonials-sign">- Emily O'Meara</span>
    </div><!--end testimonial-copy-inner-->
    </div>

  </div><!-- endtestimonial-row-->
</div><!-- endtestimonials-container-->
